page-product {
}


.indexNumber {
    padding: 3% 0 0 3% !important;
}

page-product .margin50pc {
    margin-top: 50%;
}

.divTableContainer {
    max-height: 200px;
    overflow: auto;
    padding-right: 3%;
    border-style: double;
    border-color: darkgray;
}

.divTotalInfoContainer {
    padding-top: 15%;
}

.divTotalSection {
    max-height: 100px;
    overflow: auto;
}

.maxWd35pc {
    max-width: 35%;
}

.minWd80px {
    min-width: 80px;
}

.minWd180px {
    min-width: 180px;
}

.maxWd50pc {
    max-width: 50%;
}

.marginTop1pc {
    margin-top: 1%;
}

.addNew {
    margin-top: 10px;
    word-spacing: -8px;
    height: 23px;
    background-color: lightgray;
    border-radius: 8px;
}
